---
layout: layout.njk
additional_css:
  - /styles/blog.css
---
<div id="container">
  <main>
    <header>
      <h1>{{ title | md(true) | safe }}</h1>
      {# We're including the component with Nunjucks rather than using Lume
        # components because we need it to pick up the local variables in this
        # template (which are the post's data). #}
      {% include "../_components/postDetails.njk" %}
    </header>

    {{ content | safe }}
  </main>
<div id="container">