<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title %}
      {% set title = title + " – AndreuBotella.com" %}
    {% else %}
      {% set title = "AndreuBotella.com" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="author" content="Andreu Botella" />
    <link rel="stylesheet" href="/style.css" />
    {% for css in additional_css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>