<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    {% if title_plaintext %}
      {% set title = title_plaintext + " – AndreuBotella.com" %}
    {% elif title %}
      {% set title = title + " – AndreuBotella.com" %}
    {% else %}
      {% set title = "AndreuBotella.com" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="author" content="Andreu Botella" />
    <link rel="preload" href="/fonts/FiraSans-Regular.woff2" as="font" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-Italic.woff2" as="font" fetchpriority="low" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-Bold.woff2" as="font" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-BoldItalic.woff2" as="font" fetchpriority="low" crossorigin />
    <link rel="stylesheet" href="/styles/style.css" />
    {% for css in additional_css %}
      <link rel="stylesheet" href="{{ css }}" />
    {% endfor %}
  </head>

  <body>
    {{ content | safe }}
  </body>
</html>