<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta name="color-scheme" content="light dark" />
    {% if title_plaintext %}
      {% set title = title_plaintext + " – AndreuBotella.com" %}
    {% elif title %}
      {% set title = title + " – AndreuBotella.com" %}
    {% else %}
      {% set title = "AndreuBotella.com" %}
    {% endif %}
    <title>{{ title }}</title>
    <meta name="author" content="Andreu Botella" />
    <link rel="preload" href="/fonts/FiraSans-Regular.woff2" as="font" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-Italic.woff2" as="font" fetchpriority="low" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-Bold.woff2" as="font" crossorigin />
    <link rel="preload" href="/fonts/FiraSans-BoldItalic.woff2" as="font" fetchpriority="low" crossorigin />
    <link rel="stylesheet" href="/styles/style.css" crossorigin />
    {% for css in additional_css %}
      <link rel="stylesheet" href="{{ css }}" crossorigin />
    {% endfor %}
    <link rel="alternate" type="application/rss+xml" href="/blog/feed.rss" title="AndreuBotella.com">
    {% if tagFilter %}
      <link rel="alternate" type="application/rss+xml" href="/blog/tag/{{ tagFilter | slugify | urlencode }}/feed.rss" title="AndreuBotella.com: {{ tagFilter | capitalize }}">
    {% endif %}
    {% for alt in link_alternate %}
      <link rel="alternate" type="{{ alt.type }}" href="{{ alt.href }}" title="{{ alt.title }}">
    {% endfor %}
    <script>
      function themeForCounter(counter) {
        if (counter % 10 === 0) {
          return "gradient";
        } else if (counter % 2 === 1) {
          return "dark";
        } else {
          return "light";
        }
      }

      function resetDocumentTheme() {
        const theme = themeForCounter(globalThis.themeChangeCounter);
        if (theme === "light") {
          document.documentElement.dataset.theme = "light";
          delete document.documentElement.dataset.blueGradient;
        } else {
          document.documentElement.dataset.theme = "dark";
          if (theme === "gradient") {
            document.documentElement.dataset.blueGradient = "";
          } else {
            delete document.documentElement.dataset.blueGradient;
          }
        }
      }

      if (localStorage.theme === "gradient") {
        globalThis.themeChangeCounter = 10;
      } else if (localStorage.theme === "dark") {
        globalThis.themeChangeCounter = 1;
      } else if (localStorage.theme === "light") {
        globalThis.themeChangeCounter = 0;
      } else {
        globalThis.themeChangeCounter = Number(matchMedia("(prefers-color-scheme: dark)").matches);
      }
      resetDocumentTheme();
    </script>
  </head>

  <body>
    {{ comp.navbar() | safe }}

    <div id="container">
      {{ content | safe }}
    </div>
  </body>
</html>