---
layout: layout.njk
additional_css:
  - /styles/blog.css
---
<main>
  <h1>{{ title | md(true) | safe }}</h1>

  <p>These are various talks and interviews I’ve given about my work on web
  browsers and standards.</p>

  {% for talk in talks %}
  <section class="talk" id="{{ talk.name | md(true) | striptags | slugify }}">
    <h2>{{ talk.name | md(true) | safe }}</h2>

    {% if talk.coSpeakers %}
    <p><em>(given together with
      {%- for cospeaker in talk.coSpeakers -%}
        {%- if loop.last and not loop.first %}
          and
        {%- elif not loop.first -%}
          ,
        {%- endif %}
        {% if cospeaker.url %}
        <a target="_blank" href="{{ cospeaker.url }}">{{ cospeaker.name }}</a>
        {%- else %}
        {{ cospeaker.name }}
        {%- endif %}
        {%- if loop.last -%}
          )
        {%- endif %}
      {%- endfor %}
    </em></p>
    {% endif %}

    <dl>
      {% if talk.type != "interview" %}
      <dt>Event:</dt>
      {% else %}
      <dt>Part of:</dt>
      {% endif %}
      <dd><a target="_blank" href="{{ talk.event.url }}">{{ talk.event.name }}</a></dd>
      <dt>Date:</dt>
      {% if (talk.date | string) === talk.date %}
      <dd>{{ talk.date }}</dd>
      {% else %}
      <dd><time datetime="{{ talk.date | date }}">{{ talk.date | date("HUMAN_DATE") }}</time></dd>
      {% endif %}
      <dt>Target audience:</dt>
      <dd>{{ talk.target }}</dd>
      <dt>Length:</dt>
      <dd>{{ talk.length }}</dd>
      {% if talk.url %}
      <dt>Link:</dt>
      <dd><a target="_blank" href={{ talk.url }}>{{ talk.url }}</a></dd>
      {% endif %}
      {% if (talk.type != "interview") or talk.slides %}
      <dt>Slides:</dt>
      {% if talk.slides %}
      <dd><a target="_blank" href="{{ talk.slides }}">{{ talk.slides }}</a></dd>
      {% else %}
      <dd>TODO</dd>
      {% endif %}
      {% endif %}
    </dl>

    {% if talk.youtubeId %}
    <iframe class="youtube"
      src="https://www.youtube-nocookie.com/embed/{{ talk.youtubeId }}"
      title="YouTube video player: {{ talk.name | md(true) | striptags(true) }}"
      allow="picture-in-picture; web-share" allowfullscreen></iframe>
    {% else %}
    <p>(Youtube video pending)</p>
    {% endif %}

    <div class="description">
      {{ talk.description | md | safe }}
    </div>

  </section>
  {% endfor %}
</main>