body {
  display: grid;
  grid-template-columns: 1fr minmax(min-content, 50vw) 1fr;
  grid-template-rows: auto 1fr auto;
  grid-template-areas: "header header header" ". main socials";
  place-items: center;
  height: 100vh;
}

#site-header {
  grid-area: header;
  justify-self: stretch;
}

#container {
  display: contents;
  /* background: radial-gradient(circle farthest-side, #62187de6, #6868b7c4, aquamarine) center /
    contain; */
}

#container main {
  grid-area: main;
  max-width: 650px;
  /* background: radial-gradient(closest-side, #bddadfb3, #bddadf59, #bddadf00); */
}

#container main,
#socials h1 {
  text-align: center;
}

#socials {
  grid-area: socials;
  align-self: end;
  justify-self: end;
  /* background: radial-gradient(farthest-side at bottom right, #fff, 80%, #fff0); */
}

#socials > dl {
  display: grid;
  grid-template-columns: auto 1fr;
  align-items: center;
  margin: 30px;

  /*
   * Twitter branding guidelines are that the logo be at least 32px wide.
   * (LinkedIn branding guidelines are that the bug be at least 21px high on
   * screen). Since we're using square logo images, we set --logo-size (width
   * and height) to 32px.
   *
   * Twitter branding guidelines are that the handle be scaled to 100% of the
   * height of the logo. In the version of the logo we're using, the height of
   * the actual logo graphic is 0.4764% of the dimensions of the image.
   *
   * LinkedIn branding guidelines are that the margin around the logo in all
   * directions be twice the width of the "i", which takes up 14.81% of the logo
   * dimensions. Since we margins in different grid cells don't collapse, we set
   * --logo-margin to the width of the "i", rather than twice that.
   */
  --logo-size: 32px;
  --handle-font-size: calc(var(--logo-size) * 0.4764);
  --logo-margin: calc(var(--logo-size) * 0.1481);
}
#socials dt {
  aspect-ratio: 1;
  width: var(--logo-size);
  margin: var(--logo-margin);
}
#socials #social-twitter {
  content: url("/images/twitter-social.png");
  content: url("/images/twitter-social.png") / "Twitter:";
}
#socials #social-mastodon {
  content: url("/images/mastodon-social.png");
  content: url("/images/mastodon-social.png") / "Mastodon:";
}
#socials #social-cohost {
  content: url("/images/cohost-social.png");
  content: url("/images/cohost-social.png") / "Cohost:";
}
#socials #social-github {
  content: url("/images/github-social.png");
  content: url("/images/github-social.png") / "GitHub:";
}
#socials #social-linkedin {
  content: url("/images/linkedin-social.png");
  content: url("/images/linkedin-social.png") / "LinkedIn:";
}
#socials #social-matrix {
  content: url("/images/matrix-social.png");
  content: url("/images/matrix-social.png") / "Matrix:";
}
#socials #social-email {
  content: url("/images/email-social.png");
  content: url("/images/email-social.png") / "Email:";
  grid-row-end: span 2;
}
#socials #social-pubkey {
  content: url("/images/pubkey-social.png");
  content: url("/images/pubkey-social.png") / "Public key:";
}
/* Dark mode */
:root[data-theme="dark"] #socials #social-github {
  content: url("/images/github-social-dark.png");
  content: url("/images/github-social-dark.png") / "GitHub:";
}
:root[data-theme="dark"] #socials #social-matrix {
  content: url("/images/matrix-social-dark.png");
  content: url("/images/matrix-social-dark.png") / "Matrix:";
}
:root[data-theme="dark"] #socials #social-email {
  content: url("/images/email-social-dark.png");
  content: url("/images/email-social-dark.png") / "Email:";
}
:root[data-theme="dark"] #socials #social-pubkey {
  content: url("/images/pubkey-social-dark.png");
  content: url("/images/pubkey-social-dark.png") / "Public key:";
}

#socials dd {
  font-size: var(--handle-font-size);
  margin: 0 var(--logo-margin);
  grid-column-start: 2;
}

@media (max-width: 1000px) {
  body {
    display: block;
  }
  #container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 15vw;
    min-height: 100vh;
    box-sizing: border-box;
  }

  #container main {
    max-width: unset;
  }

  #socials {
    /* background: radial-gradient(circle closest-corner at bottom center, #fff, #fff0); */
    margin: 0;
    place-self: stretch;
  }
}

@media (max-width: 600px) {
  #container {
    padding: 0 30px;
  }
}
