@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular"), url("/fonts/FiraSans-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Regular Italic"), local("Fira Sans Italic"), url("/fonts/FiraSans-Italic.woff2") format("woff2");
  font-weight: 400;
  font-style: italic;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold"), url("/fonts/FiraSans-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Fira Sans";
  src: local("Fira Sans Bold Italic"), url("/fonts/FiraSans-BoldItalic.woff2") format("woff2");
  font-weight: 700;
  font-style: italic;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Regular"), url("/fonts/FiraCode-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
@font-face {
  font-family: "Fira Code";
  src: local("Fira Code Bold"), url("/fonts/FiraCode-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}

:root {
  color-scheme: only light;

  --background: white;
  --foreground: #333;

  --link-color: #0000EE;
  --visited-link-color: #551A8B;
  --active-link-color: #EE0000;

  /* Code blocks */
  --default-code-color: var(--foreground);
  --code-bg: #f5f2f0;

  /* TODO: Remove these variables in favor of color-mix when all browsers implement it */
  --fg-60: #858585; /* color-mix(in srgb, var(--foreground) 60%, var(--background)) */
  --fg-10: #EBEBEB; /* color-mix(in srgb, var(--foreground) 10%, var(--background)) */
}

@media (prefers-color-scheme: dark) {
  :root {
    color-scheme: only dark;

    --background: #161616;
    --foreground: #f8f8f2;

    --link-color: #8C8CFF;
    --visited-link-color: #FFADFF;
    --active-link-color: #FF6666;

    --code-bg: #272822;

    /* TODO: Remove these variables in favor of color-mix when all browsers implement it */
    --fg-60: #9E9E9E; /* color-mix(in srgb, var(--foreground) 60%, var(--background)) */
    --fg-10: #2D2D2D; /* color-mix(in srgb, var(--foreground) 10%, var(--background)) */
  }
}

body {
  color: var(--foreground);
  background-color: var(--background);
  font-family: "Fira Sans", sans-serif;
  line-height: 1.3;
  font-display: swap;
}

pre, code {
  color: var(--default-code-color);
  background-color: var(--code-bg);
  font-family: "Fira Code", monospace;
  font-display: fallback;
}

:link, :link code {
  color: var(--link-color);
}
:visited, :visited code {
  color: var(--visited-link-color);
}
:link:active, :visited:active, :link:active code, :visited:active code {
  color: var(--active-link-color);
}
