<header id="site-header">
  <h1><a href="/">AndreuBotella.com</a></h1>
  <button id="theme-toggle" hidden></button>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
  <script>
    const themeToggle = document.getElementById("theme-toggle");
    let themeChangeCounter = 0;
    function switchTheme(theme) {
      themeChangeCounter++;
      if (themeChangeCounter % 10 === 0) {
        document.documentElement.dataset.theme = "light";
        document.documentElement.dataset.blueGradient = "";
      } else {
        document.documentElement.dataset.theme = theme;
        delete document.documentElement.dataset.blueGradient;
      }
      themeToggle.hidden = false;
      if (themeChangeCounter % 10 === 9) {
        themeToggle.ariaLabel = "Switch to blue gradient";
        themeToggle.textContent = "🔵";
      } else if (theme === "dark") {
        themeToggle.ariaLabel = "Switch to light mode";
        themeToggle.textContent = "☀️";
      } else {
        themeToggle.ariaLabel = "Switch to dark mode";
        themeToggle.textContent = "🌙";
      }
      localStorage.theme = theme;
    }
    switchTheme(document.documentElement.dataset.theme === "dark" ? "dark" : "light");
    themeToggle.addEventListener("click", () => {
      switchTheme(document.documentElement.dataset.theme === "dark" ? "light" : "dark")
    });
  </script>
</header>