<header id="site-header">
  <h1><a href="{{ "/" | url(true) }}">AndreuBotella.com</a></h1>
  <button id="theme-toggle" hidden></button>
  <nav>
    <ul>
      <li><a href="{{ "/" | url(true) }}">Home</a></li>
      <li><a href="{{ "/blog/" | url(true) }}">Blog</a></li>
    </ul>
  </nav>
  <script>
    const themeToggle = document.getElementById("theme-toggle");
    function switchTheme(theme) {
      document.documentElement.dataset.theme = theme;
      themeToggle.hidden = false;
      if (theme === "dark") {
        themeToggle.ariaLabel = "Switch to light mode";
        themeToggle.textContent = "☀️";
      } else {
        themeToggle.ariaLabel = "Switch to dark mode";
        themeToggle.textContent = "🌙";
      }
      localStorage.theme = theme;
    }
    switchTheme(document.documentElement.dataset.theme === "dark" ? "dark" : "light");
    themeToggle.addEventListener("click", () => {
      switchTheme(document.documentElement.dataset.theme === "dark" ? "light" : "dark")
    });
  </script>
</header>