<header id="site-header">
  <h1><a href="/">AndreuBotella.com</a></h1>
  <button id="theme-toggle" hidden></button>
  <nav>
    <ul>
      <li><a href="/">Home</a></li>
      <li><a href="/talks/">Talks</a></li>
      <li><a href="/blog/">Blog</a></li>
    </ul>
  </nav>
  <script>
    const themeToggle = document.getElementById("theme-toggle");
    const isOneDark = (document.documentElement.dataset.theme === "dark");

    function themeForCounter(counter) {
      if (counter % 10 === 0) {
        return "gradient";
      } else if (Boolean((counter - Math.floor(counter/10)) % 2) === isOneDark) {
        return "dark";
      } else {
        return "light";
      }
    }
    function clampToLightDark(theme) {
      return (theme === "dark") ? "dark" : "light";
    }

    let themeChangeCounter = 0;
    function switchTheme() {
      themeChangeCounter++;
      const currentTheme = themeForCounter(themeChangeCounter);
      const nextTheme = themeForCounter(themeChangeCounter + 1);

      document.documentElement.dataset.theme = clampToLightDark(currentTheme);
      if (currentTheme === "gradient") {
        document.documentElement.dataset.blueGradient = "";
      } else {
        delete document.documentElement.dataset.blueGradient;
      }
      localStorage.theme = clampToLightDark(currentTheme);

      themeToggle.hidden = false;
      if (nextTheme === "gradient") {
        themeToggle.ariaLabel = "Switch to blue gradient";
        themeToggle.textContent = "🔵";
      } else if (nextTheme === "light") {
        themeToggle.ariaLabel = "Switch to light mode";
        themeToggle.textContent = "☀️";
      } else {
        themeToggle.ariaLabel = "Switch to dark mode";
        themeToggle.textContent = "🌙";
      }
    }

    switchTheme();
    themeToggle.addEventListener("click", switchTheme);
  </script>
</header>