<div class="post-details">
  <p>By Andreu Botella</p>
  {% if published %}
    <p><time datetime="{{ date.toISOString() }}">{{ date | date("HUMAN_DATE") }}</time></p>
  {% else %}
    <p>Not yet published</p>
  {% endif %}
  <p>{{ readingInfo.minutes or "???" }} minutes</p>
</div>
<div class="tags">
  {% if tags | length %}
    <p>Tags:</p>
    <ul>
      {% for tag in tags %}
        <li><a href="/blog/tag/{{ tag | slugify | urlencode }}/">{{ tag }}</a></li>
      {% endfor %}
    </ul>
  {% else %}
    <p>No tags.</p>
  {% endif %}
</div>